.NavHeader{
    font-size: 30px;
    color: gold;
    background-color: #011427;
    width: 100%;
    overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
text-align: center
}
.NavContent{
    background-color: #011427;
    height: 100vh;
}